@media screen and (max-width: 600px) {

.content{
  margin-bottom: 0px;
}

  #main{
    height:1000px;
  }

  nav {
    bottom:60px;
    position: fixed;
    overflow: hidden;
    width: 100%;
  }

  .logo {
   display:none;
  }

  .galleryProjectTitle{
    top: 10px;
    left: 10px;
    font-size: 12px;
  }

  ul.galleryContainer li {
    width: 45%;
  }

  .galleryPic {
    width: 70%;
  }

  .galleryDisc {
    font-size: 12px;
  }

  ul.galleryContainer {
    margin: 0px;
    padding: 0;
}

.galleryProjectLinks{
  font-size: 10px;
}

  footer {
    font-size: 10px;
  }

  .footerLinks img {
    width:5%;
  }
  
  .wave{
    margin-top: -100px;
  }

}


@media screen and (min-width: 601px) and (max-width: 1499px) {
  nav {
    top:0px;
    position: fixed;
    overflow: hidden;
    width: 100%;
  }

  .homePage-image {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -75px;
  }

  .logo {
   width:80px;
  }

  .content {
    margin-top: 83px;
  }

  .galleryProjectTitle{
    top: 5px;
    left: 25px;
    font-size: 16px;
  }

  li.gallerySelector:hover .galleryProjectTitle{
    top: 15px;
    left: 50px;
    font-size: 20px;
  }

  ul.galleryContainer li {
    width: 45%;
  }
  .galleryDisc {
    font-size: 12px;
  }

  .galleryPic {
    width: 70%;
  }

  .galleryProjectLinks{
    font-size: 12px;
  }

  ul.galleryContainer {
    margin-left:3%;
    padding: 20px;
}

  footer {
    font-size: 14px;
  }

  .footerLinks img {
    width:4%;
  }
  
}

@media screen and (min-width: 1500px) {
  nav {
    top:0px;
    position: fixed;
    overflow: hidden;
    width: 100%;
  }

  .homePage-image {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -180px;
  }

  .tagline {
    font-size: 30px;
  }

  .title {
    font-size: 42px;
  }

  .logo {
   width:110px;
  }

  .content {
    margin-top: 83px;
  }

  .content p {
    font-size: 24px;
  }

  .galleryProjectTitle{
    top: 30px;
    left: 20px;
    font-size: 20px;
  }

  li.gallerySelector:hover .galleryProjectTitle{
    top: 40%;
    left: 40%;
    font-size: 24px;
  }

  ul.galleryContainer li {
    width: 45%;
  }

  .galleryPic {
    width: 70%;
  }

  .galleryDisc {
    font-size: 16px;
  }

  .galleryProjectLinks{
    font-size: 16px;
  }

  ul.galleryContainer {
    margin-left:3%;
    padding: 20px;
}

  .contactInfoLabel {
    font-size: 24px;
  }

  footer {
    font-size: 12px;
  }

  .footerLinks img {
    width:2%;
  }
  
}

* {
    box-sizing: border-box;
  }

body {
  font-family: 'Noto Sans', sans-serif;
  font-size: 20px;
  background-color: #f2f5f5;
  color: #20314b;
  text-align: center;
  line-height: 1.5;
  margin: 0px; 
}

#main {
  overflow: hidden;
}

.homePage-image {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 8%;
}

.tagline {
  color: #20314b;
  animation-name: shineIn;
  animation-duration:2s;
}

@keyframes shineIn {
  from {color: #fed27f;}
  to {color: #20314b;}
}

footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow: hidden;
  width: 100%;
}

/*Navbar style*/
nav,
footer {
  padding: 1% 0;
  background-color: #a1bcc0;
  overflow: hidden;
  width: 100%;
  z-index: 300;
  position: fixed;
}

.logo {
  float: left;
}

 .centerNavContent {
  margin:15px;
 }
 
.navbar {
  margin: 0;
  padding: 0;
}

.navbar a {
  display: inline-block;
  text-align: center;
  padding: 12px;
  font-size: 20px;
  text-decoration: none;  
  color: #20314b;
  font-weight: bold;
  }

.navbar a:hover {
  background-color: #20314b;
  color: #fed27f;
  border-radius: 20px;
}

.navbar a.active {
  background-color: #20314b;
  color: #fed27f;
  border-radius: 20px;
}

canvas {
  width: 100%;
}

/*Page Style*/
.hidden {
  display: none;
}


.title {
  font-family: 'Arvo', serif;
}

.content {
  background-color: #bdc4b7;
  padding: 3%;
}

section:nth-child(odd) {
  background-color: #f2f5f5 ;
}

/*Gallery Page Style*/
ul.galleryContainer {
    list-style: none;
    z-index: 20;
    display: flex;
    flex-wrap: wrap;
}
ul.galleryContainer li {
	display: inline-block;
	margin: 0 0 2.5% 2.5%;
	background: #fff;
	border: 1px solid #ddd;
	font-size: 16px;
	font-size: 1rem;
	vertical-align: top;
	box-shadow: 0 0 5px #ddd;
	box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  opacity: 1;
}

.galleryContainer li{
  display: inline-block; 
  position: relative;
  text-align: center;
}

.galleryProjectTitle{
  position: absolute;
  transition: .2s ease;
}

.galleryImage {
  padding-top: 3%;
}

li.gallerySelector a {
  display: block;
  overflow: hidden;
  color: #bdc4b7;
  text-decoration: none;
  padding:10px;
}

ul.galleryContainer li:hover {
  background: #20314b;
  transition: .5s ease;
}


li.gallerySelector:hover .galleryImage{
  transition: .5s ease;
  opacity:0;
}

li.gallerySelector:hover .galleryProjectTitle {
  color: #fed27f;
  transition: .5s ease;
  opacity:1;
}

.galleryDisc {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 0px;
}

li.gallerySelector:hover .galleryDisc {
  color: #fed27f;
}

.galleryProjectLinks{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.galleryProjectLinks a:hover{
  color: #fed27f;
}

/*Contact Info Style*/
.infoForm{
  width: 100%;
  padding: 12px;
  margin: 10px 10px 10px 0px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  text-align: start;
}

.topInfoBox{
  padding-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.projectDeets{
  height: 200px;
}

.smallInfoBox {
  width:30%;
}
.contactInfoLabel {
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
}

input[type=submit] {
  width:20%;
  height:50px;
  background-color: #a1bcc0;
  color: #20314b;
  border: none;
  font-size: 16px;
  font-weight: bold;
}

input[type=submit]:hover {
  background-color: #20314b;
  color: #fed27f;
}

.wave{
  width:100%;
  height:500px;
}